name: tox-pytest

on: [push, pull_request]

jobs:
  ci-test:
    name: ci-test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: uv tool install tox --with tox-uv
      - name: Test with tox
        run: tox

      - name: Upload coverage data
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v5
        with:
          name: coverage-data
          path: .coverage*
          include-hidden-files: true
          if-no-files-found: ignore

  coverage:
    name: Ensure 80% test coverage
    runs-on: ubuntu-latest
    needs: ci-test
    if: always()

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Download coverage data
        uses: actions/download-artifact@v6
        with:
          name: coverage-data

      - name: Report coverage and fail if it's <80%.
        run: |
          uv tool install coverage

          coverage html --skip-covered --skip-empty

          # Report and write to summary.
          coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 80%.
          coverage report --fail-under=80

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v5
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}

  collector:
    needs: [ci-test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: check for failures
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: echo job failed && exit 1
